{% extends 'base.html' %}
{% block content %}

<!-- Full screen blurred background -->
<div class="login-bg"></div>

<!-- Centered login card -->
<div class="login-container d-flex justify-content-center gap-4">

    <!-- Citizen Box -->
    <div class="card card-form p-4" style="width:400px;">
        <div class="text-center mb-3">
            <img src="{{ url_for('static', filename='images/login_bg.jpg') }}" width="70" class="rounded-circle mb-2">
            <h2>Citizen Login</h2>
        </div>

        <form method="POST" action="{{ url_for('login') }}">
            <div class="mb-3">
                <input class="form-control" name="email" type="email" placeholder="Email" required>
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" type="password" placeholder="Password" required>
            </div>

            <button class="btn btn-dark w-100">Login</button>
        </form>
    </div>


    <!-- Agent Box -->
    <div class="card card-form p-4" style="width:400px;">
        <div class="text-center mb-3">
            <img src="{{ url_for('static', filename='images/login_bg.jpg') }}" width="70" class="rounded-circle mb-2">
            <h2>Agent Login</h2>
        </div>

        <form method="POST" action="{{ url_for('agent_login') }}">
            <div class="mb-3">
                <input class="form-control" name="email" type="email" placeholder="Agent Email" required>
            </div>

            <div class="mb-3">
                <input class="form-control" name="password" type="password" placeholder="Agent Password" required>
            </div>

            <button class="btn btn-dark w-100">Login</button>
        </form>
    </div>

</div>
{% endblock %}